/* Used in ALL .tsx files in "./pages": */
/* =========================== */
.mainContainer {
  height: auto;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
}
  
.normalText {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: arial;
  font-size: 12px;
}
/* =========================== */

/* alertText is used for all pages in './pages' */
/* =========================== */
.alertText {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-family: arial;
  font-size: 12px;
  font-weight: bold;
  color: red;
}
/* =========================== */

/* CSS Elements specifically for CaptchaPage.tsx */
/* =========================== */
.captchaImageColumn {
  display: grid;
  grid-template-columns: 145px 145px 145px;
  grid-gap: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.captchaImageCell {
  background-color: white;
  border: black 1px;
  border-style: solid;
}
/* =========================== */